<div>
    <div class="header">
        <h1>Click The Link Below To Reset Your Account Password</h1>
        <i></i>
    </div>
    <div class="content">
        <p>You want to reset your password coming with account:<i th:text="${username}">[username]</i> | <i
                th:text="${email}">[email]</i></p>
        <p>Click this link:</p>
        <a th:href="'http://localhost:4200/forgot-password/' + ${email} + '/' + ${token}">
            Click here to reset your password
        </a>
        <p>For security purposes, the link will expire in the next 5 minutes</p>
    </div>
    <div class="footer">
        <i>Thank and best regards</i>
        <strong>EMS teams</strong>
    </div>
</div>
